/*navigation style*/

#naveffect {
  position: relative;
  overflow: hidden;

}

#naveffect ul {
  position: fixed;
  z-index: 9999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity:0.8;
  width: 127px;
  right:-117px;
  top:10px;
  transition: right 0.5s ease-in;
  transform: scale(1);
  font-family: 'Amiri', sans-serif;
}


 #naveffect:hover ul {
   right: 0px;
   transition: right 0.5s ease-in;
 }


 #mainnav {
   background-color: rgb(215,85,84);
   margin-bottom:12px;
   opacity:0.9;
   border:2px transparent solid;
   border-top-left-radius: 30%;
   border-bottom-left-radius: 30%;
   height: 35px;
 }

 #mapnav {
   background-color: rgb(233,178,39);
   margin-bottom:12px;
   opacity:0.9;
   border:2px transparent solid;
   border-top-left-radius: 30%;
   border-bottom-left-radius: 30%;
   height: 35px;
 }

 #quiznav {
   background-color: rgb(27,123,181);
   margin-bottom:12px;
   opacity:0.9;
   border-top-left-radius: 30%;
   border-bottom-left-radius: 30%;
   height: 35px;
 }

 #contactnav {
   background-color: rgb(165,206,37);
   margin-bottom:10px;
   opacity:0.9;
   border:2px transparent solid;
   border-top-left-radius: 30%;
   border-bottom-left-radius: 30%;
   height: 35px;
   font-size: 19px;
 }

 #naveffect li a:hover {
   transform: scale(1.2);
   background-color: white;
   opacity: 0.8;
 }

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  margin-left: -15px;
  font-size: 21px;
  text-align: center;
  font-style: italic;
  font-weight:bolder;


}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
